@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html,
body,
#root {
  width: 100%;
}

ul {
  list-style: none;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f94144;
  border-radius: 5px;
}

@media (max-width: 450px) {
  .toast-container {
    width: 70%;
    font-size: 15px;
  }

  .Toastify__toast {
    border-radius: 5px;
    margin-top: 10px;
  }
}
