.header a,
.logo a,
.menu a {
  color: #f94144;
  text-decoration: none;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 25px;
  box-shadow: 0px 0px 5px #c2c2c2;
}

.nav {
  display: flex;
  gap: 20px;
}

.menu {
  display: flex;
  gap: 10px;
}

.logo {
  padding: 10px;
}

.total-items {
  background: #fff;
  color: #f94144;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  user-select: none;
  position: relative;
  font-size: 15px;
  bottom: 7px;
  right: 10px;
  box-shadow: 0px 0px 2px #797272;
}

.icon-cart {
  display: flex;
  font-size: 40px;
}

.icon-cart a {
  display: flex;
}
