.home-list {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0px;
  box-shadow: 0px 0px 2px #797272;
}

.product-name,
.product-image,
.product-price,
.product-button {
  margin-bottom: 20px;
}

.product-image {
  margin-top: 20px;
}

.product-name {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #202020;
  border-radius: 10px 10px 0px 0px;
}

.product-price {
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color: #f94144;
  color: #fff;
  border-radius: 10px;
}

.product-button {
  padding: 10px 5px;
  width: 80%;
  background-image: linear-gradient(45deg, #244da1, #277da1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

.product-button:hover {
  background-image: linear-gradient(45deg, #244da1, #183d88);
}

@media (min-width: 1250px) {
  .home-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .product-button {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .product-price {
    width: 70%;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  .home-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .home-list {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px 40px;
  }

  .product-name,
  .product-image,
  .product-price,
  .product-button {
    margin-bottom: 10px;
  }

  .product-image {
    margin-top: 10px;
  }

  .product-name {
    font-size: 18px;
    padding: 5px;
  }

  .product-price {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  .home-list {
    padding: 20px 40px;
  }

  .product-button {
    font-size: 16px;
  }
}
