.home-list {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px 0px;
  padding: 20px;
  gap: 20px;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px 1px 5px #797272;
  gap: 20px;
}

.product-name {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #577590;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
}

.product-price {
  width: 100%;
  text-align: center;
  color: #202020;
}

.product-button {
  padding: 10px;
  width: 100%;
  background-color: #277da1;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

@media (min-width: 1250px) {
  .home-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  .home-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

  .product-name {
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .home-list {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 10px 40px;
  }

  .product-name {
    font-size: 18px;
  }

  .product-button {
    font-size: 18px;
  }

  .product-price {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  .home-list {
    padding: 0px 40px;
  }
}
