.loader-home,
.loader-cart {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border: 5px solid;
  border-color: #fff #fff #f94144 #f94144;
  border-radius: 50%;
  animation: loading 1.5s linear infinite;
}

.loader-cart {
  margin-top: 10%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
