.total-value {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f94144;
  color: #fff;
  align-items: center;
  font-size: 25px;
  padding: 10px;
}

.total {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
}

.value {
  margin-left: 30px;
}

.to-checkout-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-checkout-button {
  cursor: pointer;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #277da1;
  font-size: 20px;
  min-width: 200px;
}

@media (max-width: 750px) {
  .total-value {
    font-size: 20px;
  }

  .to-checkout-button {
    width: 70%;
    font-size: 18px;
  }
}
